.App {
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Neue Haas Grotesk Text Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
    text-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    width: 100%;
    height: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-size: 130.25%;
    font-weight: 500;
}

.nav-links {
    display: flex;
    justify-content: flex-start;
}

.search {
    z-index: 2;
    background: 0 0;
    border: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    outline: 0;
    transform: scale(1.3);
    margin-left: 2rem;
    margin-top: 0.4rem;
}

.center {
    z-index: 1;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    user-select: none;
}

.footer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 110.25%;
    font-weight: 300;
    margin-left: -4%;
    user-select: none;
}

.clock {
    font-size: 1050%;
    font-weight: 500;
    letter-spacing: -5px;
    /* font overide to match layout */
}

.message {
    font-size: 337.5%;
    margin: 0;
}

.footer-photo {
    font-size: 80%;
    line-height: 0;
}

.footer-quote {
    align-self: center;
    transform: scale(2.0)
}

.footer-todo {
    align-self: center;
}